body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font: {
        family: "Roboto", sans-serif;
    }
    color: #444;
    overflow-x: hidden;
}

main {
    flex: 1 0 auto;
}

img {
    max-width: 100%;
    height: auto;
}

.primary-color {
    background-color: $primary-color;
}

.primary-color-text {
    color: $primary-color;
}

.primary-color-light {
    background: $primary-color-light;
}

.primary-color-light-text {
    color: $primary-color-light;
}

.primary-color-dark {
    background: $primary-color-dark;
}

.primary-color-dark-text {
    color: $primary-color-dark;
}

.secondary-color {
    background: $secondary-color;
}

.secondary-color-text {
    color: $secondary-color;
}

.page-title {
    text-transform: uppercase;
    
    h2 {
        font: {
            size: 8rem;
            style: oblique;
        }
    }
}

.parallax {
    height: 100%;
}

.inline-list {
    display: inline-flex;
}