<header class="page-header parallax-container white-text hide-on-med-and-down" style="height: 100vh;">
    <div class="parallax">
        <img src="/assets/images/rui_khembo/11.jpg" alt="{{ site.title }}">
    </div>

    <div class="center page-title">
        <img src="{{ site.image }}" alt="{{ site.title }}" width="500">
        <h2>Produtor<br>Vídeo Maker <br> Fotográfo</h2>
        <a href="mailto:{{ site.email }}" title="Marque seu Booking" class="btn-large waves-effect waves-light">Booking já!</a>
    </div>
</header>