<header class="hero-image white-text">
    <img src="/assets/images/rui_khembo/11.jpg" alt="{{ site.title }}"> 
    <div class="container">
        <div class="hero-text center">
            <h1 class="hide-on-small-only">Eu sou <br> <img src="{{ site.image }}" alt="{{ site.title }}" width="320"></h1>
            <br><br><br>
            <h3>Sou Produtor de <br>Vídeos & Fotográfias</h3>
            <br><br><br>
            <a href="mailto:{{ site.email }}" title="Marque seu Booking" class="btn-large waves-effect waves-light">Booking já!</a>
            <br><br><br>
            <a href="#sobre" class="btn-floating btn-flat btn-large waves-circle"><i class="fa fa-5x fa-chevron-down"></i></a>
        </div>
    </div>
</header>