<section id="jobs" class="section scrollspy">
    <div class="container">
        <h2 class="center-align">Meus Jobs</h2>

        <section class="row">
            {% for post in site.posts limit: 3 %}
                <div class="col s12 l4">
                    <div class="card medium hoverable">
                        <div class="card-image">
                            <img src="{{ post.image }}" alt="{{ post.title }}" data-caption="{{ post.title }}" class="materialboxed">
                            <span class="card-header">{{ post.title }}</span>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </section>

        <div class="row">
            <div class="center">
                <a href="/portfolio/" title="Portfólio" class="btn-large waves-effect waves-light">Veja Mais</a>
            </div>
        </div>
    </div>
</section>