<div class="parallax-container">
    <div class="parallax">
        <img src="/assets/images/rui_khembo/11.jpg" alt="{{ site.title }}">
    </div>

    <section id="jobs" class="section scrollspy white-text">
        <div class="container">
            <h2 class="center-align">Meus Trabalhos</h2>
            
            <div class="row">
                
            </div>

            <div class="center">
                <a href="/portfolio/" title="Portfólio" class="btn-large waves-effect waves-light">Veja Mais</a>
            </div>
        </div>
    </section>
</div>