<section id="servicos" class="section scrollspy grey lighten-4">
    <div class="row">
        <div class="col s12 l6 hide-on-small-only">
            <img src="/assets/images/rui_khembo/08.jpg" alt="{{ site.title }}">
        </div>


        <div class="col s12 l6">
            <div class="container">
               <h2 class="center-align header">Faço Fotos & Vídeos</h2>

               <div class="row">
                    {% for post in site.categories %}
                        <h3>{{ post.category }}</h3>
                    {% endfor %}
               </div>
            </div>
        </div>
    </div>
</section>