<section id="sobre" class="section scrollspy">
    <div class="row">
        <div class="col s12 l6">
            <div class="container">
                <div class="center">
                    <h2>Quem Sou</h2>
                    <p class="flow-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla mollitia, asperiores esse minus dolor voluptas possimus ab error numquam, ratione ea delectus eum dicta? Reiciendis harum laudantium, sapiente reprehenderit accusamus.
                    </p>
                </div>
            </div>
        </div>

        <div class="col s12 l6">
            <img src="/assets/images/rui_khembo/05.jpg" alt="{{ site.title }}">
        </div>
    </div>
</section>