<section id="sobre" class="section scrollspy">
    <div class="row">
        <div class="col s12 l6">
            <div class="container">
                <div class="center">
                    <h2>Quem Sou</h2>
                    {% for info in site.data.author %}
                        <p class="flow-text">Ola! Eu sou <strong>{{ info.name }}</strong></p>
                        <p class="flow-text">Nasci aos {{ info.birth }}</p>
                        <p class="flow-text">Tenho como profissão <strong>{{ info.profissao }}</strong></p>
                        <p class="flow-text">{{ info.bio }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="col s12 l6">
            <img src="/assets/images/rui_khembo/05.jpg" alt="{{ site.title }}">
        </div>
    </div>
</section>