---
layout: default
---

<header class="parallax-container hide-on-small-only white-text">
    <div class="parallax">
        <img src="{{ page.image }}" alt="{{ page.title }}">
    </div>

    <div class="container">
        <div class="center">
            <h1 class="header">{{ page.title }}</h1>
        </div>
    </div>
</header>

<header class="header hide-on-med-and-up">
    <img src="{{ page.image }}" alt="{{ page.title }}" data-caption="{{ page.title }}" class="materialboxed">
    <h2 class="center-align">{{ page.title }}</h2>
</header>


<section class="section grey-lighten-4">
    <div class="container">
        <article class="row">
            <div class="card-panel hoverable">
                {{ content }}
            </div>
        </article>
    </div>
</section>